@font-face {
  font-family: 'STXinWei';
  src: url('/fonts/STXINWEI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'STXINWEI' !important;
}